<% layout("boilerplate") %>
    <div class="row">
        <div class="alert alert-danger" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> A simple danger alert—check it out!
            <h4 class="alert-headimg">
                <%= message%>
            </h4>
        </div>
    </div>