<% layout("boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <form method="post" action="/listings" class="container mt-4 needs-validation" novalidate enctype="multipart/form-data">
                <h3>Add Something New In The List</h3>

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="listing[title]" class="form-control" placeholder="Enter title" required>
                    <div class="valid-feedback"> good!</div>
                    <div class="invalid-feedback"> pleas enter title</div>
                </div>


                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter description" required></textarea>
                    <div class="invalid-feedback"> pleas enter description</div>
                </div>

                <!-- <div class="mb-3">
                    <label for="imageUrl" class="form-label">Image Link</label>
                    <input type="text" id="imageUrl" name="listing[image][url]" class="form-control" placeholder="Enter image URL/Link">
                </div> -->

                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Upload Image </label>
                    <!-- <input type="file" id="image" name="listing[image]" class="form-control"> -->
                    <input type="file" id="image" name="image" class="form-control">

                </div>

                <!-- Optional: Hidden or default filename -->
                <input type="hidden" name="listing[image][filename]" value="listingimage">

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" id="price" name="listing[price]" class="form-control" placeholder="Enter price" required>
                        <div class="invalid-feedback"> pleas enter price</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" name="listing[country]" class="form-control" placeholder="Enter country" required>
                        <div class="invalid-feedback"> pleas enter country</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Enter location" required>
                    <div class="invalid-feedback"> pleas enter location</div>
                </div>

                <button type="submit" class="btn btn-dark add-btn mt-3">Add</button>
            </form>
        </div>
    </div>